<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Components</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.7/flatpickr.css" />
</head>
<body>
  <div id="app">
    <section class="ui container">
      <form @submit.prevent="showMessage = true" class="ui form">
        <div class="field">
          <label>Nombre</label>
          <input type="text" v-model.trim="form.name">
        </div>

        <div class="field">
          <label>Fecha de nacimiento</label>
          <date-pickr v-model="form.birthday"></date-pickr>
        </div>

        <div class="field">
          <label>Género</label>
          <ui-dropdown :options="options.gender" v-model="form.gender"></ui-dropdown>
        </div>

        <button type="submit" class="ui green button">Enviar</button>
      </form>

      <div v-show="showMessage" class="ui blue message">
        <i class="close icon" @click="showMessage = false"></i>
        <pre>{{ form }}</pre>
      </div>
    </section>
  </div>

  <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.js"></script>
  <!-- Semantic-UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
  <!-- Vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
  <!-- Flatpickr con idioma español -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.7/flatpickr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.7/l10n/es.js"></script>


  <!-- Componentes (Siempre antes de App) -->
    <script src="js/dropdown.js"></script>
    <script src="js/datepickr.js"></script>
  <!-- App -->
    <script src="js/app.js"></script>
</body>
</html>
